body {
    color: rgb(6, 70, 95);
    display: flex;
    justify-content: center;
    background-color: rgb(6, 70, 95)
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(77, 168, 190);
    text-align: center;
    border: 20px;
    padding: 50px;
    border-radius: 15px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;

}
