body{
    margin:0;
    font-family: Arial;
    background-image:url(https://i.pinimg.com/originals/47/e7/66/47e7664216492cc330a8880f17d2ae04.jpg) ;
  }
  
  header{
    color:rgba(255, 255, 255, 0.979);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align:center;

  }
  
  .container{
    background:white;
    width: 60%;
    margin:40px auto;
    padding:25px;
    border-radius:30px;
    box-shadow:0 0 76px rgba(0, 0, 0, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  input, select{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
  }
  
  button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    background:#be0909;
    
    color:white;
    font-size:16px;
  }

  button:hover {
    background-color: #9c1c1c;
}
